{% extends 'base.html' %}
{% block content %}
 <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" action="{% url 'update_session' %}">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <h5 class="form-title"><span>Edit Session</span></h5>
                                    </div>

                                    {% include 'includes/messages.html' %}

                                    <div class="col-12 col-sm-11">
                                        <div class="form-group">
                                            <label>Session Year Start</label>
                                            <input type="text" class="form-control" name="session_id" value="{{session.id}}" required hidden>
                                            <input type="date" class="form-control" name="session_year_start" value="{{session.session_start}}" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-11">
                                        <div class="form-group">
                                            <label>Session Year End</label>
                                            <input type="date" class="form-control" name="session_year_end" value="{{session.session_end}}" required>
                                        </div>
                                    </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Update Course</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    {% endblock %}

